In [1]:
#a = {}
#a = {<key>:<value>,<key>:<value>,<key>:<value>}

In [2]:
a = {}
type(a)

dict

In [3]:
a = {"a":"apple","b":"ball"}
print(a)
a["a"]

{'a': 'apple', 'b': 'ball'}

'apple'

In [4]:
#mutable datatype
#it may have multiple valuees
#no duplicate index
#ordered

In [5]:
a = {"a":"apple","b":"apple"}
a

{'a': 'apple', 'b': 'apple'}

In [7]:
a["a"] = "ant"
a

{'a': 'ant', 'b': 'apple'}

In [10]:
a = {}
a["a"] = "apple"
a

{'a': 'apple'}

In [11]:
a = {}
a["a"] = "apple"
a["b"] = "ball"
a["c"] = "cat"
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [12]:
a["a"] = "ant" #mutable ,duplicate values can stay but not index
a ,

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [13]:
for i in a:
    print(i)

a
b
c

In [14]:
for i in a.values():
    print(i)

ant
ball
cat

In [15]:
for i in a.items():
    print(i)

('a', 'ant')
('b', 'ball')
('c', 'cat')

In [16]:
key_value = []
for i in a.items():
    key_value.append(i)
    
key_value

[('a', 'ant'), ('b', 'ball'), ('c', 'cat')]

In [17]:
new_data = []
for i in key_value:
    j = list(i)
    new_data.append(j)
    
new_data

[['a', 'ant'], ['b', 'ball'], ['c', 'cat']]

In [18]:
new_data[0][0] = "A"
new_data

[['A', 'ant'], ['b', 'ball'], ['c', 'cat']]

In [22]:
d = {}
for k in new_data:
    key = k[0]
    value = k[1]
    d[key] = value
    
print(d)

{'A': 'ant', 'b': 'ball', 'c': 'cat'}

In [24]:
d = {}
n = int(input("enter no of people = "))
for i in range(n):
    name = input("enter name = ")
    phone = int(input("enter phone = "))
    d[name] = phone
    
print("the info is = \n",d)

enter no of people = 2
enter name = ra
enter phone = 986243256
enter name = sayam
enter phone = 53164166
the info is =
 {'ra': 986243256, 'sayam': 53164166}

In [25]:
d["sayam"]

53164166

In [26]:
#in dict couldnot do math operation like + , - 8,,,,

In [2]:
a = {"a":"apple"}
b = {"b":"ball"}
a.update(b)

In [3]:
a

{'a': 'apple', 'b': 'ball'}

In [5]:
d = {'a':'apple','b':'ball'}
del d["a"]
b

{'b': 'ball'}

In [6]:
d = {'a':'apple','b':'ball'}
d.pop("a")
print(d)

{'b': 'ball'}

In [7]:
d = {'a':'apple','b':'ball'}
d.clear()
d

{}

In [8]:
#list inside dict

In [9]:
a = {"a":["apple","ant"],"b":["ball","bat"]}
print(a)
print(a["a"])
print(a["a"][0])

{'a': ['apple', 'ant'], 'b': ['ball', 'bat']}
['apple', 'ant']
apple

In [15]:
d = {}
n = int(input("enter no of people = "))
for i in range(n):
    name = input("enter name = ")
    ntc_ phone = int(input("enter ntc phone = "))
    ncell_ phone = int(input("enter ncell phone = "))

    d[name] =[ntc_phone,ncell_phpone]
    
print("the info is = \n",d)

SyntaxError: invalid syntax (<ipython-input-15-188d973a4b9f>, line 5)

In [16]:
d = {}
n = int(input("enter no of people = "))
for i in range(n):
    name = input("enter name = ")
    price = int(input("enter price = "))
    quantity = int(input("enter quantity = "))
    total = price*quantity

    d[name] =[price,quantity,total]
    
print("the info is = \n",d)

enter no of people = 2
enter name = apple
enter price = 23
enter quantity = 3
enter name = ball
enter price = 45
enter quantity = 2
the info is =
 {'apple': [23, 3, 69], 'ball': [45, 2, 90]}

In [17]:
a = [{"name":"ram","phone":981035683},
     {"name":"sayam","phone":984575683},
     {"name":"hari","phone":9754375683}]
a[0]

{'name': 'ram', 'phone': 981035683}

In [18]:
a = [{"name":"ram","phone":981035683},
     {"name":"sayam","phone":984575683},
     {"name":"hari","phone":9754375683}]
a[2]

{'name': 'hari', 'phone': 9754375683}

In [19]:
for i in a:
    print(i)

{'name': 'ram', 'phone': 981035683}
{'name': 'sayam', 'phone': 984575683}
{'name': 'hari', 'phone': 9754375683}

In [20]:
d = []
n = int(input("enter no of people = "))
for i in range(n):
    name = input("enter name = ")
    price = int(input("enter price = "))
    quantity = int(input("enter quantity = "))
    total = price*quantity
    data = {"name":name,"price":price,
           "quantity":quantity,"total":total}
    d.append(data)
    
print("the info is = \n",d)

enter no of people = 2
enter name = apple
enter price = 364
enter quantity = 2
enter name = ball
enter price = 23
enter quantity = 4
the info is =
 [{'name': 'apple', 'price': 364, 'quantity': 2, 'total': 728}, {'name': 'ball', 'price': 23, 'quantity': 4, 'total': 92}]

In [21]:
#price and quantity

In [22]:
d = []
s = 0
n = int(input("enter no of people = "))
for i in range(n):
    name = input("enter name = ")
    price = int(input("enter price = "))
    quantity = int(input("enter quantity = "))
    total = price*quantity
    s = s+total
    data = {"name":name,"price":price,
           "quantity":quantity,"total":total}
    d.append(data)
    
print("the info is = \n",d)
print("the total is = ",s)

enter no of people = 2
enter name = apple
enter price = 23
enter quantity = 3
enter name = appi
enter price = 45
enter quantity = 3
the info is =
 [{'name': 'apple', 'price': 23, 'quantity': 3, 'total': 69}, {'name': 'appi', 'price': 45, 'quantity': 3, 'total': 135}]
the total is =  204

In [24]:
d[0][price] = 200
q = d[0]["quantity"]
to

SyntaxError: invalid syntax (<ipython-input-24-24fdfb9491c0>, line 2)

In [ ]:
#wap for result mangement system (update the marks is required)

In [8]:
#dictionary inside dictionary
a = {"ram":{"physics":90,"chemistery":78,"math":78,"english":67},
    "syam":{"physiscs":92,"chemistery":79,"math":74,"english":45}}
print(a["ram"])
print(a["syam"])

{'physiscs': 90, 'chemistery': 78, 'math': 78, 'english': 67}
{'physiscs': 92, 'chemistery': 79, 'math': 74, 'english': 45}

In [10]:
print(a["ram"]["physics"])

90

In [13]:
a = {"a":"apple"}  
b = {"a":["apple","ant"]}
c = {("A","a"):"apple"} #main imporatance of tuple both are imutable (tupale and str) .it is imutable data type
d = {"a":("apple","ant")}
print(a)
print(b)
print(c)

{'a': 'apple'}
{'a': ['apple', 'ant']}
{('A', 'a'): 'apple'}

In [14]:
#dictionary inside dictionary
a = {"ram":{"physics":90,"chemistery":78,"math":78,"english":67},
    "syam":{"physiscs":92,"chemistery":79,"math":74,"english":45}}
print(a["ram"])
print(a["syam"])
a["ram"]["computer"] = 99
a

{'physics': 90, 'chemistery': 78, 'math': 78, 'english': 67}
{'physiscs': 92, 'chemistery': 79, 'math': 74, 'english': 45}

{'ram': {'physics': 90,
  'chemistery': 78,
  'math': 78,
  'english': 67,
  'computer': 99},
 'syam': {'physiscs': 92, 'chemistery': 79, 'math': 74, 'english': 45}}

In [16]:
d = {}
s = 0
n = int(input("enter no of people = "))
for i in range(n):
    name = input("enter name = ")
    price = int(input("enter price = "))
    quantity = int(input("enter quantity = "))
    total = price*quantity
    s = s+total
    d[name] = {"price":price,
           "quantity":quantity,"total":total}
    
    
print("the info is = \n",d)
print("the total is = ",s)

enter no of people = 2
enter name = ram
enter price = 56
enter quantity = 7
enter name = sam
enter price = 56
enter quantity = 7
the info is =
 {'ram': {'price': 56, 'quantity': 7, 'total': 392}, 'sam': {'price': 56, 'quantity': 7, 'total': 392}}
the total is =  784