In [1]:
#list
#-mutable # could not print() ,changeable
#-order
#-it follows indexing
#-allow duplicate members

In [4]:
a = ["apple","ball"]
b = [1,2,3,4,5]
print(a)
print(type(b))

['apple', 'ball']
<class 'list'>

In [5]:
print(a[1]) # follow the index

ball

In [6]:
a = ["apple","ball","cat","fish","dog"]
print(a[-1])

dog

In [7]:
a = ["apple","ball","cat","fish","dog"]
print(a[0:3])

['apple', 'ball', 'cat']

In [8]:
a = ["apple","ball","cat","fish","dog"]
print(a[0:5:2]) #0+2= cat

['apple', 'cat', 'dog']

In [9]:
a = ["apple"]
b = ["ball"]
print(b+a)

['ball', 'apple']

In [10]:
a = ['apple', 'cat', 'dog']
print(a*2)

['apple', 'cat', 'dog', 'apple', 'cat', 'dog']

In [13]:
#for(i =0;i<5;i++){}
for i in range(5):
    print(i,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [14]:
a = "apple"
b = [a]
print(b)

['apple']

In [15]:
a = []
b = "rammm"
print(a+[b])

['rammm']

In [16]:
a = []
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    a = a+[name]
    
print(a)

enter n = 2
enter name = app
enter name = ally
['app', 'ally']

In [17]:
a = []
n = int(input("enter name = "))
for i in range(n):
    x = int(input("enter x = "))
    a = a+[x]
    
print(a)

enter name = 5
enter x = 23
enter x = 23
enter x = 235
enter x = 565
enter x = 7
[23, 23, 235, 565, 7]

In [19]:
a = []
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter x = "))
    a = a+[x]
    
print("the list is = ",a) 
print("the max value is = ",max(a))
print("the min value is = ",min(a))
print("the sum is =  ",sum(a))
print("the average = ",sum(a)/n)

enter n = 4
enter x = 233
enter x = 24
enter x = 68
enter x = 989
the list is =  [233, 24, 68, 989]
the max value is =  989
the min value is =  24
the sum is =   1314
the average =  328.5

In [21]:
a = [23, 23, 235, 565, 75]
print(a)

[23, 23, 235, 565, 75]

In [22]:
a.sort()

In [23]:
a

[23, 23, 75, 235, 565]

In [24]:
a.sort()

In [25]:
a

[23, 23, 75, 235, 565]

In [26]:
a = ["zebra","xray","1ball","@fish"]
a.sort()

In [27]:
a

['1ball', '@fish', 'xray', 'zebra']

In [28]:
a = ["zebra","xray","ball","fish"]
a.sort()
print(a)

['ball', 'fish', 'xray', 'zebra']

In [29]:
a = [23, 23, 75, 235, 565]
a.sort()
a.reverse()
print(a)

[565, 235, 75, 23, 23]

In [31]:
a = ["zebra","xray","ball","fish"]
for i in a:
    print(i)

zebra
xray
ball
fish

In [32]:
len(a) #length of a

4

In [33]:
a = ["zebra","xray","ball","fish"]
n = len(a)
for i in range(n):
    print(a[i])

zebra
xray
ball
fish

In [34]:
a = ["zebra","xray","ball","fish"]

for i in a:
    if i == "ball":
        break
    print(i)

zebra
xray

In [35]:
a = ["zebra","xray","ball","fish"]

for i in a:
    if i == "ball":
        continue
    print(i)

zebra
xray
fish

In [37]:
a = ["zebra","xray","ball","fish","ball"]
if "ball" in a:
    print("yes",a.count("ball"))

yes 2

In [40]:
a = list()
a.append("apple")
print(a)

['apple']

In [41]:
a = []
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    a.append(name)
    
print(a)

enter n = 2
enter name = app
enter name = aksj
['app', 'aksj']

In [42]:
a = ["zebra","xray","ball","fish"]
a.insert(2,"bag")
print(a)

['zebra', 'xray', 'bag', 'ball', 'fish']

In [44]:
a = ["zebra","xray","ball","fish"]
a[1] = 'Xray'
print(a)

['zebra', 'Xray', 'ball', 'fish']

In [45]:
a = ["zebra","xray","ball","fish"]
del a[0]
print(a)

['xray', 'ball', 'fish']

In [46]:
a = ["zebra","xray","ball","fish"]
del a[0:3]
print(a)

['fish']

In [47]:
a = ["zebra","xray","ball","fish"]
del a[0:3:2]
print(a)

['xray', 'fish']

In [48]:
a = ["zebra","xray","ball","fish"]
a.index("ball")

2

In [49]:
a = ["zebra","xray","ball","fish"]
a.remove("ball")
print(a)

['zebra', 'xray', 'fish']

In [50]:
a = ["zebra","xray","ball","fish"]
a.pop(1) #it shows whta is deletegf

'xray'

In [52]:
a = ["zebra","xray","ball","fish"]
b = a.pop(1)
print(a)
print(b)

['zebra', 'ball', 'fish']
xray

In [56]:
a = ["zebra","xray","ball","fish","ball"] # for multipale value deleted
n = a.count("ball")
for i in range(n):
    a.remove("ball")
print(a)

['zebra', 'xray', 'fish']

In [57]:
a = ["zebra","xray","ball","fish","ball"] 
n = a.count("ball")
for i in range(n-1):
    a.remove("ball")
print(a)

['zebra', 'xray', 'fish', 'ball']

In [63]:
a = ["ball","zebra","xray","ball","fish"]
for i in range(len(a)):    #if many chareacter no index
    if a[i] =="ball":
    
        print(i)

0
3

In [64]:
index = []
a = ["ball","zebra","xray","ball","fish"]
for i in range(len(a)):   
    if a[i] == "ball":
    
        print(i)
        index.append(i)
        
print(index)

0
3
[0, 3]

In [2]:
#list inside list
a = [[],[],[],[],[]]
print(a)
print(len(a))

[[], [], [], [], []]
5

In [7]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
     
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [6]:
a = [[1,2,3]]
b = [4,6,7]
c = a+b
print(len(c))

4

In [8]:
a = [[1,2,3]]
b = [[4,5,6]]
print(a+b)

[[1, 2, 3], [4, 5, 6]]

In [11]:
my_list = []
i = int(input("enter i = "))
j = int(input("enter j = "))
for a in range(i):
    for b in range(j):
        my_list1 = []
            x = int(innput("enter x = "))
            my_list1.append(x)
            
        my_list.append(my_list1)
print(my_list)

IndentationError: unexpected indent (<ipython-input-11-82a4340935f7>, line 7)

In [13]:
data = []
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone = input("enter phone = ")
    info = [name,phone]
    data.append(info)
    
print(data)

enter n = 2
enter name = djhfgsjhf
enter phone = 13245
enter name = dgth
enter phone = 1314
[['djhfgsjhf', '13245'], ['dgth', '1314']]

In [14]:
data = []
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone = input("enter phone = ")
    info = [[name,phone]]
    data = data+info
    
print(data)

enter n = 2
enter name = sdefs
enter phone = 1324
enter name = sdfreg
enter phone = 1234
[['sdefs', '1324'], ['sdfreg', '1234']]

In [15]:
a = [['ram',981027753],['sayam',982535245]]
a[0]

['ram', 981027753]

In [16]:
a = [['ram',981027753],['sayam',982535245]]
a[1][1]

982535245

In [17]:
for i in a:
    print(a)

[['ram', 981027753], ['sayam', 982535245]]
[['ram', 981027753], ['sayam', 982535245]]

In [20]:
a = [['ram',981027753],['sayam',982535245],['sayam',9825352]]
a[0::2]

[['ram', 981027753], ['sayam', 9825352]]

In [21]:
a = [['ram',981027753],['sayam',982535245]]
a[0][0] = "ram prasad"
a

[['ram prasad', 981027753], ['sayam', 982535245]]

In [22]:
a = [['ram',981027753],['sayam',982535245]]
del a[0][0]
print(a)

[[981027753], ['sayam', 982535245]]

In [24]:
a = [['ram',981027753],['sayam',982535245]]
a.remove(a[0])
print(a)

[['sayam', 982535245]]

In [26]:
result = []
n =int(input("enter n = "))
for i in range(1,n+1):
    name = input("enter name = ")
    physics = int(input("enter physics marks = " ))
    chemistry =int(input("enter chemistry marks = " ))
    math = int(input("enter math marks = "))
    english = int(input("enter english marks = "))
    nepali = int(input("enter nepali marks = "))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    data = [i,name,physics,chemistry,math ,english ,nepali,total,per]
    result.append(data)
    
print(result)

enter n = 2
enter name = ram
enter physics marks = 45
enter chemistry marks = 67
enter math marks = 45
enter english marks = 35
enter nepali marks = 45
enter name = samm
enter physics marks = 5
enter chemistry marks = 35
enter math marks = 13
enter english marks = 78
enter nepali marks = 45
[[1, 'ram', 45, 67, 45, 35, 45, 237, 47.4], [2, 'samm', 5, 35, 13, 78, 45, 176, 35.2]]

In [29]:
roll = int(input("enter roll = "))
result[roll-1]

enter roll = 1

[1, 'ram', 45, 67, 45, 35, 45, 237, 47.4]

In [4]:
result[0][2] =98
s = result[0][2:7]
print(s)
net_sum = sum(s)
result[0][7] = net_sum
result[0][-1] = net_sum/5
print(result)

NameError: name 'result' is not defined

In [ ]:
#write a proggram