In [1]:
#loop
#while
#for

In [2]:
#range(5)
#range(1,5)
#range(1,5,2)

In [ ]:
#for(i =0;i<5,;i++)}
#}

In [5]:
#for(i =0;i<5,;i++)}
#}
for i in range(5):
     print(i)

0
1
2
3
4

In [6]:
#for(i =0;i<5,;i++)}
#}
for i in range(5):
     print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [7]:
for i in range(1,5):
     print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [8]:
#for(i =0;i<5,;i=i2;)}
#}
for i in range(1,10,2):
     print(i,"hello world")

1 hello world
3 hello world
5 hello world
7 hello world
9 hello world

In [ ]:
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter = "))
    print(x)

enter n = 3
enter = 10
10
enter = 20
20
enter = 10

In [2]:
s = 0 
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter x = "))
    print(x)
    s = s+x
    
print(s)

enter n = 3
enter x = 10
10
enter x = 30
30
enter x = 10
10
50

In [3]:
s = "" #empty string
n = int(input("enter n = "))
for i in range(n):
    x = (input("enter x = "))
    print(x)
    s = s+" "+x #can put comma , to seperat name and one extra commawill be there
    
print("the name of students are = ",s)

enter n = 2
enter x = ran
ran
enter x = sam
sam
the name of students are =   ran sam

In [4]:
n = int(input("enter n = "))
for i in range(1,11): 
    print(n*i)

enter n = 5
5
10
15
20
25
30
35
40
45
50

In [5]:
n = int(input("enter n = "))
for i in range(1,11): 
    print(n,"*",i,"=",n*i) # it is just multipal values print not concat , to concat need to do +

enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [7]:
#4! = 1*2*3*4
fac = 1
n = int(input("enter n = "))
for i in range(1,n+1):
    fac = fac*i
    
print(fac)

enter n = 4
24

In [8]:
#prime and composite #homeworkkkkkkkkkkkkkkkkkkkkkk

In [14]:
s = "" #empty string
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone = int(input("enter phone = "))
    
    s = s+name+"---"+str(phone)+"\n"
    
print("the name of students are = \n",s)

enter n = 2
enter name = ran
enter phone = 982652328
enter name = san
enter phone = 423167292
the name of students are =
 ran---982652328
san---423167292

In [7]:
a = "python"
for i in range(5,-1,-1):
    print(a[i],end = "")

nohtyp

In [8]:
a = "python"
print(a[5])

n

In [5]:
a = "python"
for i in range(5,-1,-1):
    print(a[i])

n
o
h
t
y
p

In [16]:
#range(5)--(0,1,2,3,4)
a = "python"
for i in a:
    print(i)

p
y
t
h
o
n

In [17]:
#range(5)--(0,1,2,3,4)
a = "python"
for i in a:
    print(a)

python
python
python
python
python
python

In [18]:
#range(5)--(01,,2,3,4)
a = "python"
for i in a:
    print(i,end = ",")

p,y,t,h,o,n,

In [20]:
#range(5)--(0,1,2,3,4)
a = "python"
for i in a:
    print(i,end = " ")

p y t h o n

In [21]:
n = 5
for i in range(n):
    print("*"*i)

*
**
***
****

In [22]:
n = 5
m = 5
for i in range(n):
    print("*"*i,"*"*m)
    m = m-1

 *****
* ****
** ***
*** **
**** *

In [23]:
n = 10
m = 10
for i in range(n):
    print("*"*i,"*"*m)
    m = m-1

 **********
* *********
** ********
*** *******
**** ******
***** *****
****** ****
******* ***
******** **
********* *

In [29]:
a = 1
b = " "
for i in range(10,-1,-1):
    print(i*b,"*"*a+"*"*(a-1))
    a = a+1

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************

In [1]:
#while loop

In [2]:
#while <condition>:
#    <operation>
#    <increment_or_decrement>

In [5]:
a =  0 
while a<5:
    a = a+1

0 hello city
1 hello city
2 hello city
3 hello city
4 hello city

In [6]:
s = 0 
i = 0
n = int(input("enter n = "))
while i<n:
    x = int(input("enter x = "))
    s = s+x
    i = i+1

    
print("the sum is = ",s)
print("the average = ",s/n)

enter n = 3
enter x = 12
enter x = 2
enter x = 234
the sum is =  248
the average =  82.66666666666667

In [7]:
n = int(input("enter n = "))
while i<=10: 
    print(n*i)
    i=i+1

enter n = 5
15
20
25
30
35
40
45
50

In [10]:
i = 1
n = int(input("enter n = "))
while i<=10: 
    print(n,"*",i,"=",n*i)
    i=i+1

enter n = 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [11]:
#4! = 1*2*3*4
fac = 1
i = 1
n = int(input("enter n = "))
while i<=n:
    fac = fac*i
    i = i+1
    
print(fac)

enter n = 5
120

In [ ]:
s = "" #empty string
i = 0
n = int(input("enter n = "))
while i<n:
    name = input("enter name = ")
    phone = int(input("enter phone = "))
    
    s = s+name+"---"+str(phone)+"\n"
    i = i+1
    
print("the name of students are = \n",s)

In [1]:
a = "python"
for i in range(5,-1,-1):
    print(i,end = " ")

5 4 3 2 1 0

In [2]:
a = "python"
for i in range(5,-1,-1):
    print(i*"* ")

* * * * *
* * * *
* * *
* *
*

In [3]:
a = 1
b = "- "
for i in range(10,-1,-1):
    print(i*b,"*"*a+"*"*(a-1))
    a = a+1

- - - - - - - - - -  *
- - - - - - - - -  ***
- - - - - - - -  *****
- - - - - - -  *******
- - - - - -  *********
- - - - -  ***********
- - - -  *************
- - -  ***************
- -  *****************
-  *******************
 *********************

In [9]:
# control statements
#break 
#continue
#pass

In [10]:
for i in range(10):
    if i == 5:
        break
    print(i,"hello city")

0 hello city
1 hello city
2 hello city
3 hello city
4 hello city

In [4]:
a = "hello world"
for i in a:
    if i == " ":
        break
        
    else:
        print(i)

h
e
l
l
o

In [9]:
for i in range(10):
    if i == 5:
        continue
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world
6 hello world
7 hello world
8 hello world
9 hello world

In [11]:
for i in range(10):
    if i == 5:
        continue
    else:    

        print(i,end = "")

012346789

In [12]:
for i in range(21):
    if i %2 ==0:
        continue
        
    print(i)

1
3
5
7
9
11
13
15
17
19

In [13]:
for i in range(21):
    if i %2 !=0:
        continue
        
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [14]:
for i in range(1,51):
    if i %5 !=0:
        continue
        
    print(i)

5
10
15
20
25
30
35
40
45
50