In [1]:
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [2]:
#not mutable(imutable)
#can have duplicate values
# follow indexing
 #   ordered

In [4]:
a = ("apple")
print(type(a))

<class 'str'>

In [5]:
a = ("apple",)
print(type(a))

<class 'tuple'>

In [6]:
print(a*3)

('apple', 'apple', 'apple')

In [7]:
a = ("apple","ball","cat")
a[2]

'cat'

In [8]:
a = ("apple",) #ordered
b = ("ballball",)
print(a+b)

('apple', 'ballball')

In [9]:
a = (1,2,3,4,5,6,7)
a[0:5]

(1, 2, 3, 4, 5)

In [10]:
a = (1,2,3,4,5,6,7)
a[0::2]

(1, 3, 5, 7)

In [11]:
a = ("apple","ball","cat")
for i in a:
    print(i)

apple
ball
cat

In [12]:
a = ("apple","ball","cat")
for i in a:
    if i == "ball":
        break
    print(i)

apple

In [13]:
a = ("apple","ball","cat")
for i in a:
    if i == "ball":
        continue
    print(i)

apple
cat

In [14]:
a = ("apple","ball","cat") #for search
if "apple" in a:
    print("yes",a.count("apple"))

yes 1

In [15]:
x,y,z = ("apple","ball","cat")
print(x,y,z)

apple ball cat

In [16]:
a = (1,2,3,4)

In [17]:
info = tuple()
n =int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    info = info+(name,)
    
print(info)

enter n = 3
enter name = apple
enter name = ball
enter name = cat
('apple', 'ball', 'cat')

In [18]:
a = ()
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter x = "))
    a = a+(x,)
    
print("the tuple is = ",a) 
print("the max value is = ",max(a))
print("the min value is = ",min(a))
print("the sum is =  ",sum(a))
print("the average = ",sum(a)/n)

enter n = 2
enter x = 12
enter x = 34
the tuple is =  (12, 34)
the max value is =  34
the min value is =  12
the sum is =   46
the average =  23.0

In [19]:
a = (1,2,3,4,5,6,7,8,9)
sorted(a) #there is no short but can sorted

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [22]:
a = list(a)
tuple(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [24]:
tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [26]:
a = "pyhton"
b = list(a)
tuple(b)

('p', 'y', 'h', 't', 'o', 'n')

In [27]:
str(b)

"['p', 'y', 'h', 't', 'o', 'n']"

In [28]:
#tuple inside tuple
a = ((),(),())
print(len(a))
print(a)

3
((), (), ())

In [29]:
a = ((1,2,3),(4,5,6),(7,8,9))
a[0]

(1, 2, 3)

In [30]:
a = ((1,2,3),(4,5,6),(7,8,9))
a[0][0]

1

In [31]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
print(a+b)

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [1]:
data = ()
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone = input("enter phone = ")
    info = (name,phone)
    data = data+(info,)
    
print(data)

enter n = 2
enter name = gfdghad
enter phone = 2456
enter name = ggdfs
enter phone = 314254
(('gfdghad', '2456'), ('ggdfs', '314254'))

In [4]:
data = (('gfdghad', '2456'), ('ggdfs', '314254'))
a = list(data)

In [5]:
a.append(('ram',1321455))
a

[('gfdghad', '2456'), ('ggdfs', '314254'), ('ram', 1321455)]

In [6]:
b = []
data = (('gfdghad', '2456'), ('ggdfs', '314254'))
for i in data:
    x = list(i)
    b.append(x)
    
print(b)

[['gfdghad', '2456'], ['ggdfs', '314254']]

In [7]:
b = ()
data = [['gfdghad', '2456'], ['ggdfs', '314254']]
for i in data:
    x = tuple(i)
    b = b+(x,)
    
print(b)

(('gfdghad', '2456'), ('ggdfs', '314254'))

In [9]:
a = ("ram",9821467498),("syam",985236241),("hari",9856243532)
name = input("enter name = ")
for i in a:
    if name in i:
        print("yes")
        print(i)

enter name = ram
yes
('ram', 9821467498)

In [1]:
a = ("ram","nepal",9821467498)("syam","us",985236241)("hari","us",9856243532)
name = input("enter name = ")
for i in a:
    if name.lower() in i[1].lower():
        print("yes")
        print(i)

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<ipython-input-1-e713bacc5c8c>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  a = ("ram","nepal",9821467498)("syam","us",985236241)("hari","us",9856243532)

TypeError: 'tuple' object is not callable