In [1]:
#list
#-mutable # could not print()
#-order
#-it follows indexing
#-allow duplicate members

In [4]:
a = ["apple","ball"]
b = [1,2,3,4,5]
print(a)
print(type(b))

['apple', 'ball']
<class 'list'>

In [5]:
print(a[1]) # follow the index

ball

In [6]:
a = ["apple","ball","cat","fish","dog"]
print(a[-1])

dog

In [7]:
a = ["apple","ball","cat","fish","dog"]
print(a[0:3])

['apple', 'ball', 'cat']

In [8]:
a = ["apple","ball","cat","fish","dog"]
print(a[0:5:2]) #0+2= cat

['apple', 'cat', 'dog']

In [9]:
a = ["apple"]
b = ["ball"]
print(b+a)

['ball', 'apple']

In [10]:
a = ['apple', 'cat', 'dog']
print(a*2)

['apple', 'cat', 'dog', 'apple', 'cat', 'dog']

In [13]:
#for(i =0;i<5;i++){}
for i in range(5):
    print(i,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [14]:
a = "apple"
b = [a]
print(b)

['apple']

In [15]:
a = []
b = "rammm"
print(a+[b])

['rammm']

In [16]:
a = []
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    a = a+[name]
    
print(a)

enter n = 2
enter name = app
enter name = ally
['app', 'ally']

In [17]:
a = []
n = int(input("enter name = "))
for i in range(n):
    x = int(input("enter x = "))
    a = a+[x]
    
print(a)

enter name = 5
enter x = 23
enter x = 23
enter x = 235
enter x = 565
enter x = 7
[23, 23, 235, 565, 7]

In [19]:
a = []
n = int(input("enter n = "))
for i in range(n):
    x = int(input("enter x = "))
    a = a+[x]
    
print("the list is = ",a) 
print("the max value is = ",max(a))
print("the min value is = ",min(a))
print("the sum is =  ",sum(a))
print("the average = ",sum(a)/n)

enter n = 4
enter x = 233
enter x = 24
enter x = 68
enter x = 989
the list is =  [233, 24, 68, 989]
the max value is =  989
the min value is =  24
the sum is =   1314
the average =  328.5

In [21]:
a = [23, 23, 235, 565, 75]
print(a)

[23, 23, 235, 565, 75]

In [22]:
a.sort()

In [23]:
a

[23, 23, 75, 235, 565]

In [24]:
a.sort()

In [25]:
a

[23, 23, 75, 235, 565]

In [26]:
a = ["zebra","xray","1ball","@fish"]
a.sort()

In [27]:
a

['1ball', '@fish', 'xray', 'zebra']

In [28]:
a = ["zebra","xray","ball","fish"]
a.sort()
print(a)

['ball', 'fish', 'xray', 'zebra']

In [29]:
a = [23, 23, 75, 235, 565]
a.sort()
a.reverse()
print(a)

[565, 235, 75, 23, 23]

In [31]:
a = ["zebra","xray","ball","fish"]
for i in a:
    print(i)

zebra
xray
ball
fish

In [32]:
len(a) #length of a

4

In [33]:
a = ["zebra","xray","ball","fish"]
n = len(a)
for i in range(n):
    print(a[i])

zebra
xray
ball
fish

In [34]:
a = ["zebra","xray","ball","fish"]

for i in a:
    if i == "ball":
        break
    print(i)

zebra
xray