In [1]:
a = "python"
print(type(a))

<class 'str'>

In [2]:
a = "hello"
b = "city"
print(a+b)

hellocity

In [3]:
a = "hello city \n"
print(a*2)

hello city
hello city

In [4]:
a = "hello dm"
print(a[0])

h

In [5]:
a = "hello dm"
print(a[0:5])
print(a[5:])

hello
 dm

In [7]:
a = "hello world"
print(a[0:11:2])

hlowrd

In [8]:
a = "hello world"
print(a[10:0:-1])

dlrow olle

In [9]:
a = "hello world"
print(a[10::-1])

dlrow olleh

In [10]:
#sring formating
name = input("enter name = ")
age = input("enter age = ")
add = input("enter add = ")
info = "hello my name is "+name+" i am from "+add+"i am "+age
print(info)

enter name = apeksha
enter age = 20
enter add = kathmandu
hello my name is apeksha  i am from kathmandui am 20

In [12]:
#sring formating -> no + sign
name = input("enter name = ")
age = int(input("enter age = "))
add = input("enter add = ")
info =f"hello my name is {name}. i am from {add} i am {age}"  
print(info)

enter name = appu
enter age = 20
enter add = dharan
hello my name is appu. i am from dharan i am 20

In [14]:
search = input("enter any data for search = ")
if search in info:
    print("yes",info.count(search))
    
else:
    print("no")

enter any data for search = appu
yes 1

In [15]:
a = "python"
print(a.upper())
print(a.lower())

PYTHON
python

In [ ]:
info = "hello my name is appu. i am from dharan i am 20"
lower_info = info.lower()
search = input("enter any data for search = ").lower()
if search in lower_info():
    print("yes",lower_info.count(search))
    
else:
    print("no")

In [3]:
s = ""
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone = input("enter phne = ")
    info = f"{name}---{phone}\n"
    s = s+info
    
print(s)

enter n = 2
enter name = appu
enter phne = 987734653
enter name = pece
enter phne = 218763462
appu---987734653
pece---218763462

In [5]:
s = s.replace('appu','appu tr')
print(s)

appu tr---987734653
pece---218763462

In [6]:
s = "appu tr---987734653\npece---218763462"
name = input("enter name")
if name in s:
    print("yes",s.count(name))
    replace_value = input("enter replace name")
    final_data = s.replace(name,replace_value)
    
else:
    print("there is no such a value")

enter nameappu
yes 1
enter replace nameappu tr

In [7]:
#write a proggram for result manegement system (name, sub:phy ,chem,math,nep;total;percentege)

In [10]:
s = "appu tr---987734653\npece---218763462"
s.replace('appu tr---987734653','')
print(s)

appu tr---987734653
pece---218763462